/*Especificidad: 0 0 1*/
h1{
    background-color: aqua;
    color:blue;
}
/*Especificidad: 0 0 1*/
h2{
    background-color: blue;
    color:aqua;
}
/*Especificidad: 0 0 1*/
h3{
    background-color: rgb(169, 255, 226);
    color:rgb(0, 0, 100)
}
/*Especificidad: 0 0 1*/
h4{
    background-color: rgb(255, 169, 252);
    color:rgb(42, 0, 71)
}
/*Especificidad: 0 0 1*/
p{
    color:ivory;
    background-color: darkblue;
}
/*Especificidad: 0 0 1*/
body{
    background-color:cadetblue;
    text-align: center;
}
/*Especificidad: 0 0 1*/
body *{
    border: solid steelblue 0.1em;
}