section[name=mapa] {
    width:100%; 
    height:50vw; 
    max-height: 30em;
    border-radius: 1em;
    border: 0.3em solid saddlebrown;
    
}
body{
    background-color: blanchedalmond;
    color: saddlebrown;
    width: 75%;
    position: relative;
    left: 10%;
}
h1,h2{
    text-align: center;
}
section{
    background-color: rgb(240, 194, 135);
}
section[name=tiempoActual]{
    margin-top: 1em;
    
    padding: 1em;
    border: rgb(255, 199, 159) 0.3em solid;

}
section[name=tiempoSemana]{
    padding: 1em;
    padding-right: 3.5em;

    margin-top: 1em;

}

section[name=dia]{
    border: 0.3em outset rgb(243, 160, 101);
    padding: 1em;
    width: 100%;
    text-align: justify;
    margin-bottom: 1em;
    border-radius: 0.3em;
    background-color: rgb(255, 242, 221);
}
section:hover[name=dia]{
    background-color: rgb(255, 213, 155);
}
section:active[name=dia]{
    background-color: rgb(255, 195, 111);
}
a{
    color: rgb(221, 118, 0);
}