
body{
    background-color:rgb(241, 195, 142);
    font-family: "Gill Sans";
    color: #704315;
    font-size: 1.15em;
    gap:2em;
}
.grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap:2em;
    text-align: center;
}
.grid>section:hover,.grid>div:hover,.grid>fieldset:hover{
    border:0.25em solid #704315;
}
.grid>section,.grid>div,.grid>fieldset{
    border:0.25em dashed #704315;
    background-color:bisque;
    padding: 2em;
}
.inicio{
    border:0.25em dashed #704315;
    background-color:bisque;
    padding: 2em;
}

h1{
    text-align: center;
    background-color:bisque;
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
    color:#915b23;
    padding: 1em;
}
.navegation{

    position: relative;
    text-align: center;
    background-color:#704315;
    border: 0.25em solid bisque;
    top:2em;
    padding: 1em;
}
.navegation>nav>ul{
    

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
    font-weight: bold;

}
.navegation>nav>ul>li{
    padding: 1em;
    border: 0.25em dashed rgb(252, 200, 137);
}
.navegation>nav>ul>li:hover{
    border: 0.25em solid rgb(252, 200, 137);
}
.navegation>nav>ul>li>a{
    color:bisque;
}
.grid>section>video{
    width:100%;
    
}
.grid>section>audio{
    width: 100%;
}
.grid>div>img{
    height: 100%;
    width: 100%;
}