
body{
    background-color:rgb(241, 195, 142);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #704315;
}
header{
    position: relative;
    color: #704315;
    background-color: bisque;
}
header h1{
    text-align: center;
    background-color:bisque;
    font-size: 250%;
    font-weight: bold;
    font-style: italic;
    color:#915b23;
    padding: 1em;
}
header p{
    padding: 1em;
    font-weight: bolder;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:10em;
}
main{
    color: inherit;
    border:0.25em dashed #704315;
    background-color:bisque;
    padding: 0.5em;
}

main h2{
    font-weight: bolder;
    font-size: 120%;
}
footer{

    position: relative;
    text-align: center;
    color: inherit;
    background-color:#704315;
    border: 0.25em solid bisque;
    top:2em;
    padding: 0.1em;
    font-size: 75%;
}
footer nav ul{
    position: relative;
    grid-template-columns: repeat(4,1fr);
    gap: 0.3em;
    font-weight: bold;
    left: -1.5em;
}
footer nav ul li{
    padding: 0.5em;
    border: 0.15em dashed rgb(252, 200, 137);
}
footer nav ul li:hover{
    border: 0.15em solid rgb(252, 200, 137);
}
footer nav ul li a{
    background-color: inherit;
    color:bisque;
}
