main>table{
    position: relative;
    display: block;
    padding: 1em;
    top: 1em;
    bottom: 1em;
    background-color: bisque;
    border:0.25em dashed #704315;
    color:bisque;
}
tr{
    background-color: #704315;
    
}
td{
    border:0.15em dotted rgb(241, 195, 142);
    width: 100%;
}  
th{
    border:0.2em dashed rgb(241, 195, 142);
}
td:hover{
    border:0.15em solid rgb(241, 195, 142);
}
#imagenTimPublicaciones{
    display: block;
    position: relative;
    width: 20%;
    padding: 1em;
}