table{
    color:bisque;
    background-color: inherit;
}
tr{
    color: inherit;
    background-color: #704315;
    
}
td{
    border:0.15em dotted rgb(241, 195, 142);
    width: 100%;
}  
th{
    border:0.2em dashed rgb(241, 195, 142);
}
td:hover{
    border:0.15em solid rgb(241, 195, 142);
}
