/*Especificidad: 0 0 1*/
html{
    display: flex;
    justify-content: center;
}
/*Especificidad: 0 0 1*/
main{
    
    text-align: center;
}
/*Especificidad: 0 0 1*/
h1{
    text-align: center;
    border:solid dimgray 1px;
    background-color: white;
    color:black;
   
}
/*Especificidad: 0 1 2*/
fieldset input[type="text"]{
    background-color: gainsboro;
    
    border: none;
    width: 100%;
    font-size: 4em;
}
/*Especificidad: 0 0 1*/
fieldset{
    border: none;
}
/*Especificidad: 0 1 1*/
fieldset:nth-of-type(1){
    position: relative;
    height: 10em;
    display: flex;
    justify-content: center;
}
/*Especificidad: 0 1 1*/
fieldset:nth-of-type(2){
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(60px, auto);
    position: relative;
    top:4em;
}
/*Especificidad: 0 1 3*/
form fieldset:nth-of-type(2) button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    border: none;
    background-color: gainsboro;
    user-select: none;

}
/*Especificidad: 0 2 3*/
form fieldset:nth-of-type(2) button:hover{
    background-color: white;
    
}
/*Especificidad: 0 1 1*/
fieldset:nth-of-type(4), fieldset:nth-of-type(3){
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.1em;
    grid-auto-rows: minmax(60px, auto);
    position: relative;
    top:4em;
}
/*Especificidad: 0 2 3*/
form fieldset:nth-of-type(4) button:hover,form fieldset:nth-of-type(3) button:hover{
    background-color: gainsboro;
    
}
/*Especificidad: 0 2 3*/
form fieldset:nth-of-type(4) button:active,form fieldset:nth-of-type(3) button:active,form fieldset:nth-of-type(2) button:active{
    
    color: white;
    background-color: grey;
}
/*Especificidad: 0 0 1*/
form{
    background-color:gainsboro ;
    padding-bottom: 4em;
    width: 40em;
}
/*Especificidad: 0 1 3*/
form fieldset:nth-of-type(4) button, form fieldset:nth-of-type(3) button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    border: none;
    background-color: white;
    user-select: none;
    min-width: max-content;
}
/*Especificidad: 0 0 3*/
form fieldset > ul {
    list-style: none;
    display:grid;
    grid-template-columns: 50px 50px;
    grid-column-gap:10em;
    position:relative;
    padding:0em;
}
/*Especificidad: 0 0 4*/
form fieldset ul > li {
    float:left;
    display:block;
    font-size: 1.5em;
    min-width:max-content;
    
}
/*Especificidad: 0 0 4*/
form fieldset > ul > li{
    padding:1em;
}
/*Especificidad: 0 1 4*/
form fieldset ul li:hover{
    background-color: white;
}
/*Especificidad: 0 0 5*/
form fieldset ul li ul{
    display:none;
    position:absolute;
}
/*Especificidad: 0 1 5*/
form fieldset ul li:hover > ul{
    display:grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px;
    z-index: 1;
}
/*Especificidad: 0 2 5*/
form fieldset ul li:hover:first-child > ul{
    display:grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px;
    z-index: 1;
}
/*Especificidad: 0 1 6*/
form fieldset>ul>li:hover > ul > li {
    font-size: 0.5em;
    margin-top:1.9em;
}
/*Especificidad: 0 2 6*/
form fieldset>ul>li:hover > ul > li:hover {
    background-color: white;
    
}
/*Especificidad: 0 1 7*/
form fieldset ul li:hover > ul li > button{
    font-size: 1em;
    padding: 1.5em;
    background-color: lightgray;
    width:100%;
}
/*Especificidad: 0 2 7*/
form fieldset ul li:hover > ul li > button:hover{
    background-color: white;
}
/*Especificidad: 0 1 1*/
input[type="submit"]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    border: none;
    background-color: white;
    user-select: none;
    min-width: max-content;
}
/*Especificidad: 0 2 1*/
input[type="submit"]:hover{
    background-color: gainsboro;
}









