
/*Especificidad: 003*/
form fieldset textarea{
    max-width: 50em;
    max-height: 7em;
    width: 100%;
}
/*Especificidad: 001*/
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:0.3em;
    text-align: center;
}
/*Especificidad: 002*/
form fieldset{
    text-align: left;
    border:0.25em dashed #704315;
    background-color:bisque;
    padding: 0.2em;
}
/*Especificidad: 012*/
form fieldset:hover{
    border:0.25em solid #704315;
}
